
$Texas-Rose: #ffbb55;
$Gun-Powder: #444455;
$Pickled-Bluewood:  #334455;
$Dolphin: #666677;
$Storm-Gray: #777788;
$Flax: #eecc88;
$Tuna: #333344;
$Cape-Cod: #445555;
$Slate-Gray: #778899;
$Steel-Gray:#222233;
$Almond: #eeddcc;
$Santas-Gray: #9999aa;
$Titan-White: #eeeeff;
$Porsche: #eebb66;
$Waterloo: #777799;
$Malta: #bbaa99;
$Bone: #ddccbb;
$Coral-Reef: #ccbbaa;

body {
  color: $Texas-Rose;
  background-color: $Tuna;

  a:link {
    color: $Cape-Cod;
    background-color: $Porsche;
  }

  a:visited {
    color: $Pickled-Bluewood;
    background-color: $Porsche;
  }

  a:hover {
    color: $Dolphin;
    background-color: $Texas-Rose;
  }

  a:active {
    color: $Storm-Gray;
    background-color: $Flax;
  }
}


header {
  color: $Flax;
  background-color: $Tuna;
  border-color: $Dolphin;
}

nav {

  color: $Cape-Cod;
  background-color: $Slate-Gray;
  border-color: $Dolphin;

  ul {
  border-color: $Santas-Gray;
  }

  a:link,
  a:visited {
    color: $Titan-White;
    background-color: transparent;
    border-color: $Santas-Gray;
  }

  a:hover {
    color: $Cape-Cod;
    background-color: $Porsche;
  }

  a:active {
    color: $Dolphin;
    background-color: $Flax;
  }

  a.here:link,
  a.here:visited,
  a.here:hover,
  a.here:active {
    color: $Titan-White;
    background-color: $Waterloo;
  }

}

.content {
  color: $Steel-Gray;
  background-color: $Almond;
  border-color: $Dolphin;

  img {
    border-color: $Malta;
    outline-color: $Bone;
  }
}


#imagegallery a {
  background-color: transparent;
}

th {
  color: $Almond;
  background-color: $Cape-Cod;
}

tr td {
  color: $Steel-Gray;
  background-color: $Porsche;
}

tr.odd td {
  color: $Steel-Gray;
  background-color: $Flax;
}

tr.highlight td {
  color: $Steel-Gray;
  background-color: $Coral-Reef;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1em 10%;
  background-image: url(../img/background.gif);
  background-attachment: fixed;
  background-position: top left;
  background-repeat: repeat-x;
  max-width: 80em;
}

header {
  background-image: url(../img/guitarist.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
}

nav {
  background-image: url(../img/navbar.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  border-width: .1em;
  border-style: solid;
  border-bottom-width: 0;
  border-top-width: 0;
  padding-left: 10%;
}

nav ul {
  width: 100%;
  overflow: hidden;
  border-left-width: .1em;
  border-left-style: solid;
}

nav li {
  display: inline;
}

nav li a {
  display: block;
  float: left;
  padding: .5em 2em;
  border-right: .1em solid;
}

.content {
  border-width: .1em;
  border-style: solid;
  border-top-width: 0;
  padding: 2em 10%;
  line-height: 1.8em;
}

#about header {
  background-image: url(../img/lineup.gif);
}

#photos header {
  background-image: url(../img/basshead.gif);
}

#live header {
  background-image: url(../img/bassist.gif);
}

#contact header {
  background-image: url(../img/drummer.gif);
}

.content img {
  border-width: .1em;
  border-style: solid;
  outline-width: .1em;
  outline-style: solid;
}

#imagegallery li {
  display: inline;
}

#slideshow {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

img#frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  border-width: 0;
  outline-width: 0;
}

img#preview {
  position: absolute;
  border-width: 0;
  outline-width: 0;
}

dl {
  overflow: hidden;
}

dt {
  float: left;
}

dd {
  float: left;
}

label {
  display: block;
}

fieldset {
  border: 0;
}

td {
  padding: .5em 3em;
}

body {
  font-size: 76%;
  font-family: "Helvetica", "Arial", sans-serif;
}

body * {
  font-size: 1em;
}

a {
  font-weight: bold;
  text-decoration: none;
}

nav {
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

nav a {
  text-decoration: none;
  font-weight: bold;
}

.content {
  line-height: 1.8em;
}

.content p {
  margin: 1em 0;
}

h1 {
  font-family: "Georgia", "Times New Roman", sans-serif;
  font: 2.4em normal;
}

h2 {
  font-family: "Georgia", "Times New Roman", sans-serif;
  font: 1.8em normal;
  margin-top: 1em;
}

h3 {
  font-family: "Georgia", "Times New Roman", sans-serif;
  font: 1.4em normal;
  margin-top: 1em;
}

#imagegallery li {
  list-style-type: none;
}

dt {
  margin-right: 1em;
}

dd {
  margin-right: 3em;
}

textarea {
  font-family: "Helvetica", "Arial", sans-serif;
}
